/* Timeline section */
.resume-timeline .resume-content .timeline-title {
    font-size: 16px;
    font-weight: 500;
}

.resume-timeline .resume-content .timeline-location {
    font-size: 14px;
    font-weight: 400;
}

.resume-timeline .resume-content .timeline-date {
    color: darkslategray;
    font-weight: 300;
}

.resume-timeline .resume-content .timeline-description {
    color: gray;
    font-size: small;
    margin-top: 6px;
    white-space: pre-wrap;
}


/* Services */
.service {
    height: 100%;
    text-align: center;
}

.service .service-icon > .MuiSvgIcon-root {
    font-size: 46px;
    margin-left: 0;
    margin-bottom: 4px;
    font-weight: 300;
    color: darkslategray;
}

.service .service-title {
    font-size: 16px;
    font-weight: 500;
    line-height: 35px;
    text-align: center;
    line-height: 1.2em;
    margin-bottom: 6px;
}

.service .service-description {
    color: #989898;
    border-color: var(--main-color);
    margin-right: 5px;
    text-align: center;
}


/* Skills */
.skill {
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0px 0px 36px 0px rgba(4, 6, 4, 0.08) !important;
    min-height: 186px;
    height: 100%;
}

.skill .skill-title {
    font-size: 14px !important;
}

.skill .skill-description {
    display: flex;
    align-items: center;
    color: #989898;
    font-weight: 400;
    line-height: 18px;
}

.skill .skill-description .timeline-dot {
    color: black;
    border-color: var(--main-color);
    padding: 2px;
    margin-right: 5px;
}


/* Projects */
.projects .project {
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0px 0px 36px 0px rgba(4, 6, 4, 0.1) !important;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.projects .project-title {
    margin-bottom: 5px;
} 

.projects .project-description {
    display: flex;
    align-items: center;
    color: #989898;
    font-weight: 400;
    line-height: 18px;
    margin-bottom: auto;
    padding-bottom: 16px;
}