/* About me */
.section-about-me-text {
    color: darkslategray;
    font: smaller;
    line-height: 22px;
    white-space: pre-line;
    margin-bottom: 40px !important;
}

.section-title {
    margin-bottom: 20px !important;
}

/* Experiences */
.experience {
    text-align: center;
}

.experience .experience-image {
    width: 90%;
    border-radius: 17px;
    transition: width 0.3s ease-in-out;
    margin-bottom: 12px;
}

.experience .experience-image:hover {
    width: 100%;
}

.experience .experience-title {
    font-weight: 500;
    color: rgb(82, 82, 82);
}