.header {
    margin-bottom: 30px;
    background-color: white;
    padding: 0 22px 0 0;
    border-radius: 6px;
    box-shadow: 0px 2px 92px 0px rgba(0, 0, 0, 0.07);
    position: sticky;
    top: 2vh;
    z-index: 1020;
}

.header.header-scrolled {
    background-color: rgba(255, 255, 255, 0.9);
    -webkit-backdrop-filter: blur(6px);
    backdrop-filter: blur(6px);
}

.header .header-link {
    font-weight: 500;
    color: #5d5d5d;
}

.header .header-link:hover {
    color: var(--main-color);
    cursor: pointer;
}

.header .header-link-active {
    font-weight: 500;
    color: var(--main-color) !important;
}

.header .header-home {
    background-color: var(--main-color);
    padding: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

@media (max-width: 900px) {
    .header .header-home {
        border-bottom-left-radius: 3px;
    }
}

.header .header-home > .MuiSvgIcon-root {
    font-size: 26px;
}

.header .header-left {
    margin-right: auto;
}

.header .header-right {
    display: flex;
    align-items: center;
    float: right;
}

.header .header-right > a > .MuiSvgIcon-root {
    font-size: 16px;
    margin-right: 12px;
    color: black;
}

.collapsing, .show {
    padding-left: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
}
